@media screen and (max-width: 1170px) {
  #nav_list,
  #navbar .btn-default {
    display: none;
  }

  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }

/* home */
@media screen and (max-width: 1170px){
  #home{
    min-height: 100%;
    padding-top: 0px;
  }

  #banner,
  #banner img,
  #home .shape{
    display: none;
  }

  #cta{
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px){
  #phone_button button{
    display: none;
  }

  #cta_buttons {
    display: block;
  }
  #cta_buttons a{
    margin: 1rem;
  }
}

/* Menu */
@media screen and (max-width: 1170px) {
  #dishes {
    flex-wrap: wrap;
    justify-content: center;
  }

  .dish{
    width: calc(50% - 18px);/*o gap esta 18px*/
  }
 
@media screen and (max-width: 600px){
  .dish {
      width: 100%;
}
  #menu .section-subtitle{
    text-align: center;
  } 
}




}

/* Testimonials */
@media screen and (max-width: 1170px){
  #testimonials{
    flex-direction: column;
  }

    #testimonials_chef {
      width: 25%;
      /*display: none;*/
    }
    #testimonials .section-subtitle{
      text-align: center;
      font-size: 2.5rem;
    }

    #testimonials_content{
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media screen and (max-width: 600px) {
  #testimonials .section-subtitle {
      font-size: 1.5rem;
    }
  .feedback{
    flex-direction: column;
  }
  #testimonials_content {
    width: 100%;
  }
}



}


